certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
DateTime==4.3
dnspython==2.1.0
fastapi==0.63.0
Flask==1.1.2
h11==0.12.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
jsonify==0.5
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
nltk==3.5
numpy==1.19.5
oauthlib==3.1.0
pandas==1.2.1
pandas-datareader==0.9.0
Pillow==8.1.0
plotly==4.14.3
pydantic==1.7.3
PyJWT==1.7.1
pymongo==3.11.2
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-decouple==3.4
pytz==2020.5
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
sklearn==0.0
starlette==0.13.6
textblob==0.15.3
threadpoolctl==2.1.0
tqdm==4.56.0
tweepy==3.10.0
twilio==6.51.1
urllib3==1.26.3
uvicorn==0.13.3
Werkzeug==1.0.1
zope.interface==5.2.0
